<!DOCTYPE html>
<html>
<head>
    <title>About us</title>
    <style>
        body, html {
    height: 100%;

}
body{
    background-color: #fffafa!important;;
}

nav
{
    background-color: #402A2A;
    margin-bottom: 0!important;
    height: 9%;

}

.navbar-static-top .navbar-brand,
.navbar-static-top .navbar-brand:hover,
.navbar-static-top .navbar-brand:focus {
    color: #FFF;
}

.navbar-static-top .navbar-nav > li > a {
    color: #FFF;
}

.navbar-static-top .navbar-nav > li > a:hover,
.navbar-static-top .navbar-nav > li > a:focus {
    background-color: #7F5454;
}

.navbar-static-top .navbar-nav > .active > a,
.navbar-static-top .navbar-nav > .active > a:hover,
.navbar-static-top .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #7F5454;
}
/*.navbar{
   margin-bottom: 0!important;
}*/

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("http://firstidea.org/wp-content/uploads/2016/12/About.jpg");

    /* Set a specific height */
    height: 70%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 20px;
}


    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>



<body>
<nav class="navbar navbar-static-top" role="navigation">
 <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
    </button>
        <a class="navbar-brand" href="#" style="color: white; margin-bottom:5px"><img src="/images/chinofinal.png" width="90" height="40"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-left:50%">
                <ul class="nav navbar-nav">
                 <li>
                        <a href="home" style="color:white">Home</a>
                    </li>
                    <li>
                        <a href="about" style="color:white">About us</a>
                    </li>
                     <li>
                        <a href="indext" style="color:white">Design Yourself</a>
                    </li>
                    <li>
                        <a href="product" style="color:white">Products</a>
                    </li>
                    <li>
                        <a href="contact" style="color:white">Contact us</a>
                    </li>
                </ul>
    </div>
</nav>
</div>
 <div class="hero-image">

</div> 
<div style="margin-bottom:25%">
<b><h1><center>   <h1 style="color: #7F5454"><font face="preeti"><b>चिनो</b></font></h1></center></b></h1></br>
<left-alignment><div style="color: #800000; margin-left:10%; margin-right:10%"><b>DESIGN what you want, what you like yourself. <font face="preeti">चिनो</font> is a website that will let you to design your t-shirts yourselves or just send pictures so that we can bring it to you. You don't anymore have to waste time searching for printing places or any designers. Be your designer yourself and let your creativity out.</b>
</left-alignment>
</div>
</body>
</html>