<!DOCTYPE html>
<html>
  <head>
    <title>CHINO</title>
    <style type="text/css">
     body
      {
       
        background-image: url('https://mymlachi.com/wp-content/uploads/2017/04/pexels-photo-94736.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 100%;
      
      } 
      .main
      {
        width:100%;
        margin-let:0px;
      }
      
      .p
      {
        font-size: 120px;
      }
      .b {
    border-style: solid;
    border-color: #ffffff;
    border-radius: 10px;
}
background-img {
    opacity: 1;
    filter: alpha(opacity=50); 
}
.qu
{
  font-size:20px;
}
.r
{
  font-size:15px;
}
      
      .grow
       { transition: all .2s ease-in-out; }
.grow:hover 
{ transform: scale(1.1); }


 .row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.thumbnail {
  height: 100%;
  text-align: center;
}
nav
{
    background-color: #402A2A;
    margin-bottom: 0!important;
    height: 10%;

}

.navbar-static-top .navbar-brand,
.navbar-static-top .navbar-brand:hover,
.navbar-static-top .navbar-brand:focus {
    color: #FFF;
}

.navbar-static-top .navbar-nav > li > a {
    color: #FFF;
}

.navbar-static-top .navbar-nav > li > a:hover,
.navbar-static-top .navbar-nav > li > a:focus {
    background-color: #7F5454;
}

.navbar-static-top .navbar-nav > .active > a,
.navbar-static-top .navbar-nav > .active > a:hover,
.navbar-static-top .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #7F5454;
}
.q
{
  font-size:40px;
}
    </style>
  
      
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link href="css/thumbnail-gallery.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $(".slide-toggle").click(function(){
            $(".box").slideUp();
        });
    });
</script>
  </head>


  <body>
  <div class="box">
  <center>
  <br><br>
  <img src="/images/chinofinal.png" width="300" height="200">
  <br><br><br>
  <font face="Lucida Calligraphy" color="white" ><div class="qu">Materialize your Memories<br></div>
  <br>
  <font face="Lucida Calligraphy" color="white" ><div class="qu">"LIFE is a great big CANVAS, throw all the PAINT you can on IT.<br>
  DESIGN the way YOU want."<b></div>
  <br><br><br>
  <div class='r'>
  <p>CLICK TO CONTINUE<br>
  <div class="grow"><a href="home"><img src="/images/aa.png"

  width="60" height="60" border="2" class="b" /></a></div>
  </font>
  </center>
  </div>
  

 

  </body>
 
</html>
