<!DOCTYPE html>
<html>
<head>
	<title>Product</title>
	<style>
		.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.thumbnail {
  height: 100%;
  text-align: center;
}

body{
    background-color: #fffbff!important;;
}
/*.thumbnail img{
    max-height: 100%;
    max-width: 100%;
}*/
nav
{
    background-color: #402A2A;
    margin-bottom: 0!important;
    height: 10%;

}

.navbar-static-top .navbar-brand,
.navbar-static-top .navbar-brand:hover,
.navbar-static-top .navbar-brand:focus {
    color: #FFF;
}

.navbar-static-top .navbar-nav > li > a {
    color: #FFF;
}

.navbar-static-top .navbar-nav > li > a:hover,
.navbar-static-top .navbar-nav > li > a:focus {
    background-color: #7F5454;
}

.navbar-static-top .navbar-nav > .active > a,
.navbar-static-top .navbar-nav > .active > a:hover,
.navbar-static-top .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #7F5454;
}


.q
{
  font-size:40px;
}
</style>

	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	    <link href="css/thumbnail-gallery.css" rel="stylesheet">



</head>
<body>
<nav class="navbar navbar-static-top" role="navigation">
 <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
    </button>
        <a class="navbar-brand" href="#" style="color: white; margin-bottom:5px"><img src="/images/chinofinal.png" width="90" height="40"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-left:50%">
                <ul class="nav navbar-nav">
                 <li>
                        <a href="home" style="color:white">Home</a>
                    </li>
                    <li>
                        <a href="about" style="color:white">About us</a>
                    </li>
                     <li>
                        <a href="indext" style="color:white">Design Yourself</a>
                    </li>
                    <li>
                        <a href="product" style="color:white">Products</a>
                    </li>
                    <li>
                        <a href="contact" style="color:white">Contact us</a>
                    </li>
                </ul>
    </div>
</nav>
<!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Our designs</h1>
            </div>
           </div>

            <div class="row display-flex">

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/images/hghouse.jpg" width="460px" height="543px">
            <div class="caption">
                <h4>Hogwarts House</h4>
            <p>Rs.800</p>
            </div>
                </a>
             </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/images/thanks.jpg" width="460px" height="543px">
            <div class="caption">
                <h4>Thank you</h4>
            <p>Rs.900</p>
            </div>
                </a>
             </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/images/tshirt.jpg" width="460px" height="543px">
            <div class="caption">
                <h4>Problem</h4>
            <p>Rs.800</p>
            </div>
                </a>
             </div>
            </div>

              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/images/music.jpg" width="460px" height="543px">
            <div class="caption">
                <h4>Music</h4>
            <p>Rs.800</p>
            </div>
                </a>
             </div>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/images/product.png" width="460px" height="543px">
            <div class="caption">
                <h4>Music</h4>
            <p>Rs.800</p>
            </div>
                </a>
             </div>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/images/product1.png" width="460px" height="543px">
            <div class="caption">
                <h4>Cartoon</h4>
            <p>Rs.800</p>
            </div>
                </a>
             </div>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/images/product2.png" width="460px" height="543px">
            <div class="caption">
                <h4>Shape of you</h4>
            <p>Rs.800</p>
            </div>
                </a>
             </div>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/images/product3.png" width="460px" height="543px">
            <div class="caption">
                <h4>Moustache</h4>
            <p>Rs.800</p>
            </div>
                </a>
             </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMwIFgQ6FtgD4m8P8WkeJrEc_UxW7IlnY7oglm-FWSNqOpxuOz" width="460px" height="560px">
            <div class="caption">
            	<h4>Devil</h4>
            <p>Rs.1000</p>
            </div>
                </a>
             </div>
            </div>

          <!--   <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIUDMPwGJ3wUfMmRTqCMRkvSbleEsET85P6M0OIw_lRV7FMsJ1" alt="">
                    <div class="caption">
                    	<h4>Love Apple</h4>
            		<p>Rs.1000</p>
                    </div>
                </a>
             </div>
            </div> -->

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="https://c1.staticflickr.com/4/3507/4075738698_cc6aaf0648.jpg" alt="">
                    <div class="caption">
                    	<h4>Heart</h4>
            		<p>Rs.1000</p>
                    </div>
                </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmb2OI59QhLJvX75TOVvxVoVxBbSlSmWq7NizwWQYkM2cU38CC" alt="">
                    <div class="caption">
                    	<h4>Cartoon</h4>
            		<p>Rs.1000</p>
                    </div>
             	</a>
            </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYf1tKd_rxNB2tziEpOboWJXIJpVFlBzLQKrAf0KgnKOfIY08k" alt="">
                    <div class="caption">
                    	<h4>Plain</h4>
            		<p>Rs.1000</p>
                    </div>
                </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/b/b9/T-Shirt_mind_the_gap.jpg" alt="">
                    <div class="caption">
                    	<h4>Black</h4>
            		<p>Rs.1000</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>               
            		 <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://i.walmart.com/i/p/00/76/12/53/39/0076125339600_215X215.jpg" alt="">
                    <div class="caption">
                     <h4>Blue</h4>
            		 <p>Rs.1000</p>
                    </div>
                </a>
                </div>

            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
            	<a class="thumbnail" href="#">
                    <img class="img-responsive mx-auto d-block" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkFGbtLhejFFTpDEJOCJ6ScTzf3mPwDx4QVRFUbgv38gYVDD0CDw" alt="">
                    <div class="caption">
                      <h4>Black</h4>
            		<p>Rs.1000</p>
                    </div>
                </a>
                </div>
            </div>

		</div>
	</div>
</body>
</html>